<% if (deck.get("is_current_user") || !deck.get("is_private")) { %>
    <li>Title: <%= deck.get("title") %></li>
    <li>Owner: <%= deck.get("user").username %></li>
    <li>Cards: <%= deck.get("flashcards").length %></li>
    <li>Subject: <%= (deck.get("subject")) ? deck.get("subject").title : "none" %></li>
    <li><%= (deck.get("is_private")) ?
      "This deck is <strong>private<strong>" :
      "This deck is <strong>public<strong>" %></li><br>
  <!-- </ul> -->
  <button class="deck-study" data-id="<%= deck.id %>">Study this deck</button>

  <% if (deck.get("is_current_user")) { %>
    <a href="#edit_flashcards/<%= deck.id %>">Edit</a>
    <button class="deck-delete-gate-button">Delete</button>
    <button class="deck-delete-button invisible" data-id="<%= deck.id %>">Are you sure? All of this deck's flashcards will be destroyed!</button>
  <% } %>
<% } %>

<div class="deck-study-options<%= deck.id %> invisible">
  <a href="#show_deck_cards/<%= deck.id %>">Study each card once</a>
  <% if (deck.get("is_current_user")) { %>
    <a href="#smart_study_deck_cards/<%= deck.id %>">Use adaptive studying</a>
  <% } %>
</div>
