<form
  <% if (card.id ) { %>
    class="flashcard-edit-form" data-id="<%= card.id %>">
  <% } else { %>
    class="flashcard-new-form" data-id="<%= card.id %>">
  <% } %>
  <label class="edit-label">
    <%= iterator %>) Question
    <textarea name="flashcard[question]"><%= card.get("question") %></textarea>
  </label>
  <label class="edit-label">
    Answer
    <textarea name="flashcard[answer]"
    <% if (!card.id) { %>
      class="new-card-answer"
    <% } %>
    ><%= card.get("answer") %></textarea>
  </label>
  <% if (card.id) { %>
    <button class="create-flashcard" data-id="<%= card.id %>" style="display:none">Update this card</button>
  <% } else { %>
    <button class="create-flashcard" style="display:none">Save this card</button>
  <% } %>

</form>

<% if (card.id) { %>
  <button class="flashcard-delete" data-id="<%= card.id %>">Delete this card</button>
<% } else { %>
  <p class="inline-p">Press TAB in the answer box to save and add the new card to the deck. A form for a new</p>
  <p class="inline-p"> blank card will be created.</p><br>
  <script>
  $(".new-card-answer").keydown(function( event ) {
    if ( event.which == 9 ) {
      event.preventDefault();
      $("form.flashcard-new-form").trigger("submit");
    }
  });
  </script>
<% } %>
