<h1>Update this deck</h1>
<form action="<%= user_deck_url %>" method="post">
  <%= auth_token %>
  <input type="hidden" name="_method" value="patch">
  <label>
    Title
    <input type="text" name="deck[title]" value="<%= @deck.title %>">
  </label>
  <br><br>
  <label>
    Do you want this to be a public deck? Anyone can see a public deck, but only you can edit it.
    <select name="deck[is_private]">
      <option value="F" <%= (@deck.is_private == false) ? "selected" : "" %>>Yes</option>
      <option value="T" <%= (@deck.is_private == true) ? "selected" : "" %>>No</option>
    </select>
  </label>
  <div class="backbone-container"></div>
  <br><br>
</form>
<br><br><br>
<a href="<%= user_url(current_user) %>">Back</a>
