<h1> All of <%= @deck_owner.username %>'s decks:</h1>
<% @current_decks.each do |deck| %>
  <% if @deck_owner == current_user || !deck.is_private %>
    <ul class="deck-info" data-id="<%= deck.id %>">
      <li>Title: <%= deck.title %></li>
      <li>Owner: <%= @deck_owner.username %></li>
      <li>Cards: <%= deck.flashcards.length %></li>
      <li>Topic: <%= (deck.topic_id) ? "todo: TOPIC NAME HERE" : "none" %></li>
      <li><%= (deck.is_private) ? "This deck is private" : "This deck is public" %></li>
    </ul>
    <a href="<%= user_deck_url(deck.owner_id,
    deck.id)%>#show_deck_cards/<%= deck.id %>">
    <button>Study this deck</button></a>

    <% if deck.owner_id == current_user.id.to_i %>
      <a href="<%= edit_user_deck_url(current_user.id, deck.id) %>"><button>Edit</button></a>
      <%= render "decks/delete_deck", deck_id: deck.id %><br><br>
    <% end %>
  <% end %>
<% end %>

<br><br>
<a href="<%= user_url(current_user) %>">Back</a>
