<!DOCTYPE html>
<html>
<head>
  <title>Csbs</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if flash[:notice] %>
    <% flash[:notice].each do |notice| %>
      <h3 class="generic-notice"><%= notice %></h3>
    <% end %>
  <% end %>

  <% if flash[:errors]%>
    <% flash[:errors].each do |error| %>
      <h3 class="generic-error"><%= error %>;</h3>
    <% end %>
  <% end %>

  <%= yield %>
  <br><br>
  <% if signed_in? %>
    <h3>Signed in as <%= current_user.username %></h3>
    <%= render partial: "layouts/signout" %>
  <% else %>
    <%= render partial: "layouts/signin" %>
  <% end %>
</body>
</html>
